#pagewrap {
    display: grid;
    grid-row-gap: 2em;
    grid-template-rows: auto;
    grid-template-areas: 
        "overskrift"
        "mmdbillede"
        "overordnettekst"
        "container1"
        "container2"
        "container3"
        "container4"
        "container5"
        "container6"
        
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}
#overskrift{
    text-align: center;
}
#overovertekst{
    text-align: center;
}
#overordnettekst{
    grid-area: overordnettekst;
    justify-self: center;
}
#phpheader{
    grid-area: phpheader;
    justify-self: center;
    text-align: center;
}
#mmdbillede {
    width: 100%;
    height: auto;
    justify-self: center;
}
.border{
    border: 3px solid black;
    max-width: 400px;
}
.billede{
    width: 100%;
    height: auto;
    align-self: center
}
#container1 {
    grid-area: container1;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "tekst1 billede1"
}
#tekst1 {
    grid-area: tekst1;
    
}
#billde1{
    grid-area: billede1;
}
#container2 {
    grid-area: container2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "billede2 tekst2"
}
#tekst2 {
    grid-area: tekst2;
}
#billede2{
    grid-area: billede2;
}
#container3 {
    grid-area: container3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "tekst3 billede3"
}
#tekst3 {
    grid-area: tekst3;
}
#billede3{
    grid-area: billede3;
}
#container4 {
    grid-area: container4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "billede4 tekst4"
}
#tekst4 {
    grid-area: tekst4;
}
#billede4{
    grid-area: billede4;
}
#container5 {
    grid-area: container5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "tekst5 billede5"
}
#tekst5 {
    grid-area: tekst5;
}
#billede5{
    grid-area: billede5;
}
#container6 {
    grid-area: container6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "billede6 tekst6"
}
#tekst6 {
    grid-area: tekst6;
}
#billede6{
    grid-area: billede6;
}
@media screen and (min-width: 1000px) {
    #pagewrap{
        display: grid;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "phpheader phpheader phpheader"
            "overordnettekst overordnettekst overordnettekst"
            "container1 container2 container3"
            "container4 container5 container6"
    }
    .border{
       max-width: 1440px; 
    }
}
